/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




.header-login {
    padding-right: 20px;
    font-weight: bold;
    color: #7D7D7D;
}
.header-login span{
        padding-left:15px;
}

.header-login form {
        display:inline;
    }

#MainContent {
    margin-left: 30px;
}



#sidebar {
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    font-family: verdana,arial,helvetica,sans-serif;
}


#sidebar fieldset{
    margin-top:15px;
}

#sidebar p {
        margin-left: 4px;
        color: #7D7D7D;
        font-weight: bold;

    }

    #sidebar legend {
        margin-left: 4px;
        color: #7D7D7D;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 700;
        border-bottom:0;
    }

    #sidebar nav li a {
        padding: 0px 0px;
        padding-left: 20px;
        font-weight: 400;
        float: none;
        color: #445ACD;
        font-size: 12px;
        line-height: normal;
    }

    #sidebar nav li a:hover {
        color: #CC0000;
    }


#sidebar nav li {
    float: none;
}

#sidebar nav {
    padding-left:0px;
}



@media screen and (min-width: 807px) {
    .fixedSidebar {
        display: table-cell;
        width: 330px;
        color:green;
        float:none;
    }
    .row .no-float {
        display: table-cell;
        float: none;
    }
}

@media screen and (max-width: 807px) {
    .fixedSidebar {
     color:red;
    }
    #MainContainer{
        float:none;
    }
}

.sidebar-header{
    margin-bottom:40px;
}

#NotificationForm  fieldset{
    margin-bottom:20px;
}

    #NotificationForm fieldset div {
        margin-left: 30px;
    }

.nav-item a {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 807px) {
    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.navbar-toggle {
   background-color:lightgray;
}

div.inner-container {
    background-color: #FFFFFF;
    /*	color: #000000; */
    border-left: 0px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-top: 0px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#bs-example-navbar-collapse-1
{
    padding-left:0px;
}
