/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.entrants-positions span {
   padding-right:10px;
}

.place_1 {
    background-color:darkblue;
}

.place_2 {
    background-color: darkred;
}

.place_3 {
    background-color: papayawhip;
}

.place_3 p {
    color: black;
}

 .place_3 span {
        color: black;
    }


.place_4 {
    background-color: rebeccapurple;
}

.place_5 {
    background-color: rebeccapurple;
}
.place_6 {
    background-color: rebeccapurple;
}
.place_7 {
    background-color: rebeccapurple;
}
.place_8 {
    background-color: rebeccapurple;
}

.addRacerSymbol {
  
    cursor:pointer

}



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    transition: all 0.3s;

}

    #sidebar .sidebar-header {
        padding: 0px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #7D7D7D;
        padding: 2px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 12px;
        font-weight: bold;
    }

    #sidebar ul li a {
        padding: 0px;
        font-size: 13px;
        font-weight:400;
        display: block;
        margin-left: 20px;
        color: #445ACD;
        
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}