@page
@model WLC.Areas.Races.Pages.IndexModel
@{
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Races</p>

    <ul>
        <li><a href="Races/Events">Race Maintenance</a></li>
        <li><a href="Races/Racers">Racer Maintenance</a></li>
        <li><a href="Races/Results">Results</a></li>
    </ul>
</div>