@page
@model WLC.Areas.Races.Pages.IndexModel
@{
}


<div>
    <h1 class="display-4">WLC Labor Day Races </h1>

    <div class="panel panel-default">
        <div class="panel-heading">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active"><a class="nav-link active" href="#Links" role="tab" data-toggle="tab">Links</a></li>
                <li class="nav-item"><a class="nav-link" href="#Ribbons" role="tab" data-toggle="tab">Ribbon Checklist</a></liclass="nav-item">
                <li class="nav-item"><a class="nav-link" href="#Swimming" role="tab" data-toggle="tab">Swim Checklist</a></li>
                <li class="nav-item"><a class="nav-link" href="#Boating" role="tab" data-toggle="tab">Boat Race Checklist</a></li>
            </ul>
         </div>
            <div class="panel-body tab-content">
                <div class="tab-pane active" id="Links">
                    <ul>
                        <li><a href="Races/Events">Race Maintenance</a></li>
                        <li><a href="Races/Racers">Racer Maintenance</a></li>
                        <li><a href="Races/Results">Results</a></li>
                    </ul>
                </div>
                <div id="Ribbons" class="tab-pane">
                    <p>One month before races</p>
                    <ol>
                        <li> Confirm that ribbons and trophies have been ordered and available.</li>

                    </ol>
                    <p>Two Weeks before races</p>
                    <ol>
                        <li>Call previous year’s champions to remind them to bring their trophies back for this year’s races.</li>
                        <li> Confirm Birthdays and ages.</li>
                        <li> Print <a href="~/documents/SignupSheet.pdf">Sign Up Sheet</a> Report on legal paper.</li>
                        <li>Trim the bottom of signup sheets just below the name at bottom.</li>
                        <li>Stack sheets up in race order so each race name is visible, one stack for boating and one stack for swimming.</li>
                        <li> Print and staple appropriate cover over each stack.</li>
                        <li>Place on legal-sized clipboard and hang in Clubhouse prior to the weekend before the races.</li>
                    </ol>
                    <p>One Weeks before races</p>
                    <ol>
                        <li>Print Judge Crads 1 <a href="~/documents/Judge1st.pdf">Judges Cards1</a>.</li>
                        <li>Print Judge Crads 2 <a href="~/documents/Judge2nd.pdf">Judges Cards1</a>.</li>
                        <li>Print Judge Crads 3 <a href="~/documents/Judge3rd.pdf">Judges Cards1</a>.</li>
                        <li>Print Judge Crads 4 <a href="~/documents/Judge4th.pdf">Judges Cards1</a>.</li>
                        <li>Print Judge Crads 5 <a href="~/documents/Judge5th.pdf">Judges Cards1</a>.</li>
                        <li>Print Judge Crads 6 <a href="~/documents/Judge6th.pdf">Judges Cards1</a>.</li>
                        <li>Cut and stack score cards in race order, one stack for 1st through 6th place</li>
                        <li>For diving and sliding, print 6 copies of <a href="~/documents/DivingJudging.pdf">Diving Score Cards</a> report.</li>
                        <li>Cut and stack score cards in race order, one stack for each of the judges.</li>
                    </ol>

                </div>
                <div id="Swimming" class="tab-pane">
                    <p>One weeks before races</p>
                    <ol>
                        <li>Print 5 copies of the <a href="~/documents/OrderSwim.pdf">Swim Race Order</a> for swimming events.</li>
                    </ol>
                </div>
                <div id="Boating" class="tab-pane">
                    <p>One weeks before races</p>
                    <ol>
                        <li>Print 15 copies of the <a href="~/documents/OrderBoat.pdf">Boat Race Order</a> for Boating events.</li>
                      </ol>

                    <p>Morning Of</p>
                    <ol>
                        <li>Distribute Copies of Race Order form to members that have kids racing in lots of events.</li>
                        <li>Staple copies of Race order forms at boat house.</li>
                        <li>Setup table at finish line for judging.</li>
                        <li>Setup extention cord for laptop computer.</li>
                    </ol>
                </div>
            </div>
        </div>
     </div>
