@page
@model WLC.Areas.Races.Pages.ResultModel
@{
    ViewData["Title"] = "Results";

}


<div class="section">
    <div class="container">
        <form asp-route="Result">
            <div class="row">
                <div class="col-md-6">
                    <select asp-for="ActiveRaceId" asp-items="@Model.RaceList" class="form-control" onchange="this.form.submit()">
                        <option value="">(select one)</option>
                    </select>
                </div>
            </div>

        </form>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <h2> @Model.ActiveRace.RaceName</h2>


        <div class="row">
            <div class="col-md-6">
                <h6>Selections</h6>
                <p>
                    <input type="text" id="myFilter" onkeyup="filterCards()" placeholder="Search for names.." />
                <p><button class="btn btn-primary" id="load">Load</button></p>
                <div id="gridQualified">
                    <partial name="_ResultQualified" model="@Model.AvailableRacers" />
                </div>
                </p>
            </div>
            <div class="col-md-6">
                <h6>Results</h6>
                <div id="gridEntrant">
                    <partial name="_ResultEntrants" model="@Model.Results" />
                </div>
                </p>

            </div>

        </div>
    </div>

    @section scripts{
        <link href="~/js/results.js" type="text/javascript" asp-append-version="true" />

    }


</div>


