@page
@model WLC.Areas.Notices.Pages.IndexModel
@{
}


<div>
    <h1 class="display-4">Manage NociesNotices </h1>

    <p>Notice  this</p>
      </div>

<div>
    <form id="SetYear" asp-page="Index">
        <input asp-for="ActiveYear" />
        <input type="submit" />
     </form>

</div>