@page
@model WLC.Areas.Races.Pages.Racers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Races/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Racers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Racers.RacerId" />
            <div class="form-group">
                <label asp-for="Racers.FirstName" class="control-label"></label>
                <input asp-for="Racers.FirstName" class="form-control" />
                <span asp-validation-for="Racers.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racers.LastName" class="control-label"></label>
                <input asp-for="Racers.LastName" class="form-control" />
                <span asp-validation-for="Racers.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racers.BoyOrGirl" class="control-label"></label>
                <input asp-for="Racers.BoyOrGirl" class="form-control" />
                <span asp-validation-for="Racers.BoyOrGirl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racers.Age" class="control-label"></label>
                <input asp-for="Racers.Age" class="form-control" />
                <span asp-validation-for="Racers.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racers.Birthdate" class="control-label"></label>
                <input asp-for="Racers.Birthdate" class="form-control" />
                <span asp-validation-for="Racers.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racers.MemberStatusId" class="control-label"></label>
                <select asp-for="Racers.MemberStatusId" class="form-control" asp-items="ViewBag.MemberStatusId"></select>
                <span asp-validation-for="Racers.MemberStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Racers.CabinId" class="control-label"></label>
                <select asp-for="Racers.CabinId" class="form-control" asp-items="ViewBag.CabinId"></select>
                <span asp-validation-for="Racers.CabinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
