@using Microsoft.AspNetCore.Identity

<nav id="sidebar">
    <div class="sidebar-header">
        <img src="~/images/WaunaLake002a.jpg" />
    </div>

    <ul class="list-unstyled components">
        <p>General</p>
        <li>
            <a href="./home">Home</a>
            <a href="#">Club Contacts</a>
            <a href="#">President's Page</a>
            <a href="#">Check-in Status</a>
            <a href="#">Member Lookup</a>
            <a href="#">Cabin PHone List</a>
            <a href="#">Steve's Trail Page</a>
            <a href="#">Construction/Remodels</a>
            <a href="#">Emergency Action Plan</a>
            <a href="#">Contractor List</a>
            <a href="#">Latest Newsletter</a>
            <a href="#">Board Minutes</a>
        </li>

        <p>Events/Activities:</p>
        <li>
            <a href="./home">Calendar</a>
        </li>
        <p>Commitees:</p>
        <li>
            <a href="./home">Current Assignments</a>
            <a href="./home">Charters & Info</a>
        </li>
        <p>Photo Archives:</p>
        <li>
            <a href="./home">Winter 2017</a>
        </li>
        <p>Documents:</p>
        <li>
            <a href="./home">Cap Improvements</a>
            <a href="./home">Process</a>
            <a href="./home">Timber Mgmt Plan</a>
            <a href="./home">Fire revention Plan</a>
            <a href="./home">Trespassing Guidelines</a>
            <a href="./home">Lease Agreement</a>
            <a href="./home">Bylaws(2019)</a>
            <a href="./home">Ownership Changes</a>
            <a href="./home">Transfer to a Trus</a>
            <a href="./home">Rules</a>
        </li>

        @*<li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </li>*@

    </ul>
</nav>



