@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2>Welcome</h2>
 </div>
<div class="inner-container">
    <p class="text-primary">Choose from the options below</p>

    <div>
        <ul>
            <li><a asp-area="Races">Races</a></li>
            <li><a asp-area="Notices">Notices</a></li>
        </ul>
    </div>
</div>
