@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 </div>
<div>
    <p class="text-primary">Choose from the options below</p>

    <div>
        <ul>
            <li><a asp-area="Races">Races</a></li>
            <li><a asp-area="Notices">Notices</a></li>
        </ul>
    </div>
</div>
