@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Wauna Lake Club Web Site</p>

    <ul>
        <li><a asp-area="Races">Races</a></li>
    </ul>
</div>
