@page
@model WLC.Areas.Races.Pages.Results.ResultsModel
@{
    ViewData["Title"] = "Results";

}



<div class="section">
    <div class="container">
        <form asp-route="Result">
            <div class="row">
                <div class="col-md-6">
                    <select asp-for="ActiveRaceId" asp-items="@Model.RaceList" class="form-control" onchange="this.form.submit()">
                        <option value="">(select one)</option>
                    </select>
                </div>
                <div class="col-md-6">
                   <span>Swimming</span> <input asp-for="IsBooting" value="false"  onchange="this.form.submit()" type="radio">
                   <span>Boating</span> <input asp-for="IsBooting" value="true" onchange="this.form.submit()" type="radio">
                </div>
            </div>

        </form>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <h2> @Model.ActiveRace.RaceName</h2>

        <div id="HiddenSelections" class="d-none">
            <a id="ShowSelections" href="#">Show Results</a>
        </div>

        <div class="row">
            <div class="col-md-6" id="Selections">
                <div>
                    <h6>Selections <a id="HideSelections" href="#">(hide)</a> </h6>
                    <p>
                        <input type="text" id="myFilter" onkeyup="filterCards()" placeholder="Search for names.." />
                        <div id="gridQualified">
                            <partial name="_ResultQualified" model="@Model.AvailableRacers" />
                        </div>
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddRacerModal">
                        Add Racer
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Results</h6>
                <div id="gridEntrant">
                    <partial name="_ResultEntrants" model="@Model.Results" />
                </div>
                </p>

            </div>

        </div>
    </div>

    @section scripts{
        <script src="~/js/results.js" asp-append-version="true"></script>

    }

</div>


<!-- Modal -->
<div class="modal fade" id="AddRacerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Racer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="NewRacer.RacerId" />
                        <div class="form-group">
                            <label asp-for="NewRacer.FirstName" class="control-label"></label>
                            <input asp-for="NewRacer.FirstName" class="form-control" />
                            <span asp-validation-for="NewRacer.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewRacer.LastName" class="control-label"></label>
                            <input asp-for="NewRacer.LastName" class="form-control" />
                            <span asp-validation-for="NewRacer.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewRacer.BoyOrGirl" class="control-label"></label>
                            <input asp-for="NewRacer.BoyOrGirl" class="form-control" />
                            <span asp-validation-for="NewRacer.BoyOrGirl" class="text-danger"></span>
                        </div>
                          <div class="form-group">
                            <label asp-for="NewRacer.Birthdate" class="control-label"></label>
                            <input asp-for="NewRacer.Birthdate" class="form-control" />
                            <span asp-validation-for="NewRacer.Birthdate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewRacer.MemberStatusId" class="control-label"></label>
                            <select asp-for="NewRacer.MemberStatusId" class="form-control" asp-items="ViewBag.MemberStatusId"></select>
                            <span asp-validation-for="NewRacer.MemberStatusId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewRacer.CabinId" class="control-label"></label>
                            <select asp-for="NewRacer.CabinId" class="form-control" asp-items="ViewBag.CabinId"></select>
                            <span asp-validation-for="NewRacer.CabinId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
