@page
@model WLC.Areas.Checkin.Pages.IndexModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wauna Lake Check In</title>
</head>
<body>

    <h4>Checkin</h4>
    <hr />

    @if (Model.Success)
    {
          <div class="row">
        <div class="col-md-4">
            @if(Model.Checkin.CheckOutTime.HasValue)
            {
               <p>See you next time.</p>
            }
            else
            { 
               <p>Welcome - Have as good stay.</p>
            }
            </div>
        </div>

    }
    else
    {
    <div class="row">
        <div class="col-md-4">
            <form id="CheckinForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Checkin.CheckinId" />
                <div class="form-group">
                    <label class="control-label">Cabin:</label>
                    <select id="CabinLookup" class="form-control" asp-for="Checkin.CabinId" asp-items="@Model.CabinList"><option>(Select One)</option></select>
                    <span asp-validation-for="Checkin.MemberId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Member:</label>
                    <select asp-items="@Model.MemberList" asp-for="Checkin.MemberId" class="form-control"><option>(select one)</option></select>
                    <span asp-validation-for="Checkin.MemberId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Checkin.Note" class="control-label">Additional Members/Guests:</label>
                    <textarea maxlength="8000" rows="4" asp-for="Checkin.Note" class="form-control"></textarea>
                    <span asp-validation-for="Checkin.Note" class="text-danger"></span>
                </div>
                @if (Model.Checkin.CheckinId == 0)
                {
                    <div class="form-group">
                        <input name="CheckinButton" type="submit" value="Check In" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input name="CheckOutButton" type="submit" value="Check Out" class="btn btn-primary" />
                    </div>

                }

            </form>
        </div>
    </div>

    }

    @section Scripts {
        <script src="~/js/checkin.js" asp-append-version="true"></script>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }

   
</body>
</html>
